* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #5e5e5a;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
}

input {
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
